
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&family=Padauk&display=swap');

body{
  background: rgb(63,94,251);
  background: linear-gradient(165deg, rgba(63,94,251,1) 0%, rgba(126,238,163,1) 31%, rgba(70,156,252,1) 100%);}

h1{
font-size:50px;
}

#titleDiv{
  font-family:'Martel Sans';
}
  .text{
    width: 50%;
    margin-left:12%;
    margin-top: 5%;
    font-family:'Padauk';
  }

  #bodyText{
    position: absolute;
    margin-top: -2%;
    z-index:2;
    background-color: rgba(255,255,255,0.4);
    border-radius: 20px;
    padding: 3%;
    margin-left: 50%;
    width: 30%;
    font-size: 17px;
    font-weight: bold;
    color:#383282;
    text-align: justify;
  }

#navigateToMain{
  padding: 20px;
  font-family:'Martel Sans';
  font-size: 20px;
  border-radius: 20px;
  border-style: outset;
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  margin-left: 20%;
  margin-top:10%;
}
